.button {
  font: inherit;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  background: #4f4f4f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #777777;
  border-color: #777777;
}

.button:focus {
  outline: none;
}
